@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@layer base {
    body {
        @apply font-[Raleway]
    }
    li {
        @apply px-4;
        @apply cursor-pointer;
    }
}
#root{
    overflow: hidden;
}
.content-div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
}

.content-div:hover {
    background-image: linear-gradient(
        to right,
        rgba(155, 155, 155, 0.8),
        hsla(0, 0%, 16%, 0.8)
    )!important;
}

#header{
    width: 100%;
    height: 100vh;
    background-image: url(assets/coderMorningLeft3.gif);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
}
#headerMobile{
    width: 100%;
    height: 100vh;
    background-image: url(assets/coderMorningPortrait.gif);
    background-size: 100% auto;
    background-position: center;
    background-attachment: fixed;
}

#header2{
    width: 100%;
    height: 100vh;
    background-image: url(assets/coderAfternoonRight.gif);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
#header2Mobile{
    width: 100%;
    height: 100vh;
    background-image: url(assets/coderAfternoonPortrait.gif);
    background-size: auto 100%;
    background-position: center;
    background-attachment: fixed;
}

#header3{
    width: 100%;
    height: 100vh;
    background-image: url(assets/coderNightLeft.gif);
     background-size: auto 100%;
    background-position: center;
    background-attachment: fixed;
}
#header3Mobile{
    width: 100%;
    height: 100vh;
    background-image: url(assets/coderNightPortrait.gif);
    background-size: auto 100%;
    background-position: center;
    background-attachment: fixed;
}
